# Ignore les fichiers sans extension (fichier binaire genere par gcc)
## https://stackoverflow.com/a/19023985
*
!/**/
!*.*
!Makefile

# IDLE settings
**/.vscode/
**/.settings/

# Fichiers generes par eclipse lors de la compilation
**/Debug/
**/*.launch
**/*.elf
**/*.hex

# Fichiers generes pour la documentation
**/_htmresc/
**/html
**/*.html
**/doc
**/template
**/coverage

# Fichiers binaires genere
**/*.out
**/*.d
**/*.o

# Fichiers generes pour la couverture de code
**/*.gcno
**/*.gcda

# dossier utilise pour certain fichier template propre au projet
!/template
